p{
  font-size: 15px;
  display: block;
}

hm{
  font-size: 50px;
  color: white;
  background-color: red;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

h{
  font-size: 30px;
  color: black;
  display: block;
}

hs{
  font-size: 25px;
  color: black;
  display: block;
}
