p{
  font-size: 15px;
  display: block;
}

h{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: block;
  margin-bottom: 50px;
}

.section-header{
  text-align: center;
}

h2{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

m{
  font-size: 20px;
  display: block;
  text-align: center;
}

m2{
  font-size: 18px;
  display: block;
  text-align: center;
}

table{
  width: 100%;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid darkorange;
  border-collapse: collapse;
}

tr{
  border: 2px solid darkorange;
}

td{
  border: 2px solid darkorange;
  height: 20px;
  vertical-align: middle;
}

th {
  background-color: red;
  text-align: middle;
  border: 2px solid darkorange;
  border-collapse: collapse;
  vertical-align: bottom;
}






