p{
  font-size: 15px;
  display: block;
}

hm{
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

h{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: block;
}

hs{
  font-size: 25px;
  color: black;
  display: block;
}

.titlebar{
	width: 100%;
	height: 80px;
	background-color: rgba(235, 15, 15, 1);
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.section-header{
	text-align: center;
}

.game-container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.game-thumbnail{
	display: inline-block;
	float: left;
	width: 300px;
	min-width: 300px;
	height: 300px;
	border: 2px solid black;
	overflow: hidden;
	border-radius: 20px;
	margin: 25px auto;
}

.min-margin{
	margin: 0 25px;
}

.auto{
	margin: 0 auto;
}

.game-thumbnail a{
	text-decoration: none;
}

.game-title-div{
	height: 15%;
	background-color: rgba(185, 25, 145, 1);

}

.game-title{
	font-family: "Spectral SC", serif;
	font-size: 20px;
	text-align: center;
	width: 100%;
	padding-top: 10px;
	color: rgba(248, 248, 248, 1);
}

.game-image{
	width: 100%;
	height: 85%;
}

h2{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

m{
  font-size: 20px;
  display: block;
  text-align: center;
}

m2{
  font-size: 18px;
  display: block;
  text-align: center;
}

table{
  text-align: center;
  border: 2px solid darkorange;
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
}

tr{
  border: 2px solid darkorange;
}

td{
  border: 2px solid darkorange;
  height: 20px;
  vertical-align: middle;
  width: 250px;
}

.td1{
  border: 2px solid darkorange;
  height: 20px;
  vertical-align: middle;
  width: 150px;
}

.td2{
  border: 2px solid darkorange;
  height: 20px;
  vertical-align: middle;
  width: 150px;
}

th {
  background-color: red;
  border: 2px solid darkorange;
  border-collapse: collapse;
  vertical-align: bottom;
}
